@model WebShopApp.Models.ViewModels.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Glömt lösenord?";
}

<h3>Har du glömt ditt lösenord? Inga problem, vi löser det!</h3>

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <h4>Skriv in din emailaddress</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Skicka</button>
        </div>
    </div>
</form>

@if (ViewData["ForgotPasswordConfirmation"] != null)
{
    <script>
        $(document).ready(function () {
            $("#ForgotPasswordConfirmation").modal();
        });
    </script>
}

<div class="modal fade" id="ForgotPasswordConfirmation" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modalh4">
                    <span class="glyphicon glyphicon-lock">
                    </span> Återställningsmail skickat!
                </div>
            </div>
            <div class="modal-body" style="padding:20px 50px;">
                Ett återställningsmail har skickats till din epost. Klicka på länken för att återställa lösenordet.
            </div>
            <div class="modal-footer w3-blue-grey">
                <a asp-action="Login" asp-controller="Account" class="btn btn-default close">OK</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
